@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  transition: transform 0.5s ease-in-out;
}

.left > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.left > div h1 {
  margin-bottom: 10px;
  font-size: 30px;
  margin-top: -30px;
}

.right {
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.right > div {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  margin: 0;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .btn-container {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 100;
}

.container .btn-container .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .btn-container .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -44px;
}
