@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #fd297a, #9424f0);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-family: inherit;
}

.container {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.container a {
  text-decoration: none;
  color: tomato;
}

.container a:hover {
  color: cadetblue;
}

.form-control {
  position: relative;
}

.form-control input {
  background: transparent;
  border: 0;
  border-bottom: #fff solid 2px;
  color: #fff;
  display: block;
  width: 100%;
  margin: 40px 0;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

.form-control label {
  position: absolute;
  top: -10px;
}

button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: 0;
  margin: 0 0 10px 0;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}

button:focus {
  outline: 0;
  transform: scale(0.95);
}

.form-control label span {
  display: inline-block;
  font-size: 16px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  transform: translateY(-20px);
  color: aqua;
}
